

<div class="container">
<h1>My Rentals</h1>

 <% @my_bookings.each do |my_booking| %>

    <% if my_booking.decline == true %>
      <div class="card order-form m-3" style="background-color:#ffdddd";>
      <h2>DECLINED</h2>
      <div class="d-flex flex-row justify-content-between m-3">
    <% elsif my_booking.accept == true %>
      <div class="card order-form m-3" style="background-color:#ddffdd;">
      <h2>ACCEPTED!</h2>
      <div class="d-flex flex-row justify-content-between m-3">
    <% else %>
      <h2>  status: pending <br></h2>
    <% end %>
      <div class="m-3">
        <%= cl_image_tag(my_booking.container.photo.key, height: 300, width: 400, crop: :fill) %>
      </div>
      <div class="card-body">
        <h2>Container: <%= my_booking.container.name %></h2>
        <p>Contact Seller: <%= my_booking.container.user.email %></p>
            <%= my_booking.comment %><br>
            Price: <%= my_booking.price %><br>
            Rental Start Date: <%= my_booking.date_from %><br>
            Rental End Date: <%= my_booking.date_to %><br>
            <%= link_to "Order Again?", container_path(my_booking.container), class: "btn btn-primary"%>
      </div>
    </div>
  </div>
 <% end %>
</div>
