<h1>Containers</h1>



<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
    <li class="breadcrumb-item active" aria-current="page">Containers</li>
  </ol>
</nav>
<div class="cards-containers">
  <% @containers.each do |container| %>
    <div class="card card-container">
      <%= cl_image_tag(container.photo.key, height: 300, width: 400, crop: :fill) %>
        <div class="card-body">
        <h5 class="card-title"><%= container.name %></h5>
           <p class="card-text"><%= container.detail %></p>
           <p class="card-text">Daily Rental Price: £<%= container.daily_price %></p>
           <p class="card-text">HxWxL: <%= container.width %> x <%= container.height %> x <%= container.length %></p>
           <p class="card-text">Empty Weight: <%= container.empty_weight %></p>
           <p class="card-text">Maximum Cargo Weight: <%= container.maximum_weight %></p>
           <%=link_to "Show Container", container_path(container) %>
          </div>
    </div>

  <% end %>
</div>
</div>
