<h1>Containers</h1>

<%= link_to "create container", new_container_path, class: "btn btn-primary" %>


<div class="container">
<div class="cards-containers">
  <% @containers.each do |container| %>
    <div class="card card-container">
      <%= cl_image_tag(container.photo.key, height: 300, width: 400, crop: :fill) %>
        <div class="card-body">
        <h5 class="card-title"><%= container.name %></h5>
           <p class="card-text">detail: <%= container.detail %></p>
           <p class="card-text">daily price: <%= container.daily_price %></p>
           <p class="card-text">width: <%= container.width %></p>
           <p class="card-text">height: <%= container.height %></p>
           <p class="card-text">length: <%= container.length %></p>
           <p class="card-text">empty weight: <%= container.empty_weight %></p>
           <p class="card-text">maximum weight: <%= container.maximum_weight %></p>
           <p class="card-text">user email: <%= container.user.email %></p>
          <%=link_to "Show Container", container_path(container) %>
          </div>
    </div>

  <% end %>
</div>
</div>
