
<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
    <li class="breadcrumb-item"><%= link_to "Containers", containers_path%></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @container.name %></li>
  </ol>
</nav>

<div class="d-flex flex-row justify-content-evenly">

  <div>
    <%= cl_image_tag(@container.photo.key, height: 300, width: 400, crop: :fill) %>
  </div>
  <div class= "card form " style="width:100%;">
        <div class="card-body">
        <h2><%= @container.name %></h2>
        <p class="card-text">Daily Price: £<%= @container.daily_price %><br>
        <p class="card-text">HxWxL = <%= @container.height %>x<%= @container.width %>x<%= @container.length %><br>
        <p class="card-text">Container weight: <%= @container.empty_weight %></p>
        <p class="card-text">Max Cargo Weight: <%= @container.maximum_weight %></p>
        <p class="card-text"><%= @container.detail %></p>
    </div>
  </div>
</div>
  <div>
  <br>
  <div class="border order-form mt-4 p-3">
  <h2>Rent Container</h2>
    <%= simple_form_for [@container, @booking] do |f| %>
      <%= f.input :comment %>
      <%= f.input :date_from,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :date_to,
            as: :string,
            input_html: { data: { controller: "datepicker" }, },
            class: "m-4" %>
      <%= f.button :submit, "Submit", class: "btn btn-primary m-3"%>
    <% end %>
</div>
</div>

<br>
<br>
<br>
<h2>Your Rental History</h2>

<% if @bookings.count == 0 %>
  <p>you have not rented this container before</p>
<% else %>
` <% @bookings.each do |booking| %>
<br>
    <% if booking.decline == true %>
      <div class="card-booking-history border p-4" style="background-color:#ffdddd;">
       <h2> Order Declined<br></h2>
       <h3> Contact the seller for more details</h3>
        <% elsif booking.accept == true %>
        <div class="card-booking-history border p-4" style="background-color:#ddffdd;">
         <h2>Order Accepted!<br></h2>
        <% else %>
        <div class="card-booking-history border p-4" style="background-color:#ddffff;">
       <h2>  The seller is checking over your order and will update shortly <br></h2>
        <% end %>


      <p> Price: £<%= booking.price %></p>
      <p> Collection Date: <%= booking.date_from %></p>
      <p> Return Date: <%= booking.date_to %></p>
      <p style="font-size:18px;">Your Comments: <%= booking.comment %></p>

    </div>
  <% end %>
    <% end %>
    </div>
