

<%= link_to "Back", containers_path, class: "btn btn-primary" %>

<div class="container">
<div class= "card card-container">
     <img src='<%=@container.image_url%>' class="card-img-top">
      <div class="card-body">
       <h2><%= @container.name %></h2>
       <%= @container.detail %><br>
       daily price: <%= @container.daily_price %><br>
       width: <%= @container.width %><br>
       height: <%= @container.height %><br>
       length: <%= @container.length %><br>
       Container weight: <%= @container.empty_weight %><br>
       Max Cargo Weight: <%= @container.maximum_weight %><br>
  </div>
</div>
<h2>Your Booking History</h2>

` <% @bookings.each do |booking| %>
<br>
    <div class="card">


      <% if booking.decline == true %>
       <h2> status: Declined <br></h2>
        <% elsif booking.accept == true %>
         <h2>status: accepted <br></h2>
        <% else %>
       <h2>  status: pending <br></h2>
        <% end %>

      Your Comments: <%= booking.comment %><br>
      Price: <%= booking.price %><br>
      Rental Start Date: <%= booking.date_from %><br>
      Rental End Date: <%= booking.date_to %><br>

    </div>
  <% end %>

  <div>
  <br>
  <h2>Create New Booking</h2>
    <%= simple_form_for [@container, @booking] do |f| %>
      <%= f.input :comment %>
      <%= f.input :date_from %>
      <%= f.input :date_to %>
      <%= f.button :submit %>
    <% end %>




    </div>
</div>
