<h1>Containers#index</h1>
<p>Find me in app/views/containers/show.html.erb</p>

       <h2><%= @container.name %></h2>
       <%= @container.detail %><br>
       <%= @container.daily_price %><br>
       <%= @container.width %><br>
       <%= @container.height %><br>
       <%= @container.length %><br>
       <%= @container.empty_weight %><br>
       <%= @container.maximum_weight %><br>
       <%= @container.image_url %><br>
